
.input-container {
  position: relative;
}
input {
  width: 100%;
  height: 5vh;
  padding: 10px;
  border: none;
  border-radius: 10px;
  /*border-bottom: 2px solid #1a1a1a;*/
  background: linear-gradient(-45deg, #3B3B98, #2C3A47, #182C61, #2f3640);
  background-size: 400% 400%;
  color: var(--text-primary);
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s, box-shadow 0.3s;
  animation: gradient 15s ease infinite;
}
input:focus {
  outline: none;
  /*border-color: #007bff;*/
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
}
.hint {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--accent-yellow);
  text-shadow: 1px 1px 1px var(--text-secondary );
  font-size: .8rem;
}
.placeholder {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--text-secondary);
  transition: 0.2s;
  cursor: text;
}
input:focus + .placeholder,
input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: var(--text-primary);
  text-shadow: 1px 1px 1px var(--text-secondary );

}
.details-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.about-svg{
  bcolor: var(--accent-yellow);
  width: 1.5vw;
  height: 1.5vw;
}
