h1{
  color: var(--text-primary);
}
.date-picker-container{
  display: flex;
  justify-content: space-between;
}
.date-picker-checkbox-container{
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
}

.tags-container{
  width: 100%;
  height: 100%;
}